body {
    background: none;
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
    color: #fff;
  }

  #background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
  }

  h1 {
    font-family: 'Orbitron', sans-serif;
    color: #000000; /* a light metallic gray color */
    text-shadow: 2px 2px #ff0000, -2px -2px #0000ff, 0 0 6px #ffff00, 1px 1px 10px #310f52; /* a subtle black shadow */
    font-size: 100px;
    font-weight: bolder;
    letter-spacing: 20px;
    text-align: center;
  }

  h2 {
    color: rgb(51, 51, 51);
    font-size: 30px;
    text-align: center;
    text-shadow: 1px 1px 1px #555, -1px -1px 1px #666;
    text-emphasis-color: #764ba2;
    letter-spacing: 10px;
  }
  